
<div class="container-fluid">
  <div class="row fixedHeight" >
    <div class="col-md-4">
      <widget-lorem-ipsum></widget-lorem-ipsum>
    </div>
    <div class="col-md-2">
      <widget-lorem-ipsum></widget-lorem-ipsum>
    </div>
    <div class="col-md-2">
      <widget-lorem-ipsum [txt]="'Lorem 123'"></widget-lorem-ipsum>
    </div>
  </div>
</div>

<div style="height: 20px"></div>
<div style="margin-left: 10px">
  <h4 style="">DashboardTest</h4>
  <div class="widgetArea" >

    <gridster [options]="options">
      <gridster-item [item]="item" *ngFor="let item of dashboard">
        <widget-lorem-ipsum></widget-lorem-ipsum>
      </gridster-item>

      <gridster-item [item]="{}" >
        <ng-container *ngComponentOutlet="lorem"></ng-container>
      </gridster-item>

      <gridster-item [item]="{}" >
        <h2>TESTERHDH FKDJF H</h2>
      </gridster-item>
    </gridster>
  </div>
</div>



