.headline {
  background-color: beige;
  width:100%;
}

.dashboardHeader {
  background-color: beige;
  height: 30px;

}
.dashboardContent {
  height: calc(100% - 30px);
  width: 100%;
  background-color: white;
  position:relative;
  overflow: scroll;
}
